# Ignore everything by default
*

# Whitelist this .gitignore file itself
!.gitignore

# Whitelist specific directories AND THEIR CONTENTS
!hypr/
!hypr/**
!jj/
!jj/**
!kitty/
!kitty/**
!niri/
!niri/**
!nvim/
!nvim/**
!tmux/
!tmux/**
!walker/
!walker/**
!waybar/
!waybar/**
!mako/
!mako/**
!sunsetr/
!sunsetr/**
